body{
    background: fixed;
    color:rgb(144, 121, 190);
    background-color: #cb90b4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
}
.full-banner-form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estilo{
   height: 35vh;
   width: 420px;
   display: flex;
   
}

.form-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 95%;
    padding-left: 15px;
    height: 30px;
}

label{
    width: 70%;
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

button{
    width: 70px;
    height: 40px;
    background-color: darkmagenta;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}